/* #region global */
@font-face {
    font-family: 'jost';
    src: url('fonts/jost.ttf');
}

*{
    font-family: 'jost', serif;
}

body{
    margin: 0;
    background-color: rgba(0, 175, 175, 0.05);
}

main{
  padding: 20px 200px;
}

a{
  text-decoration: none;
  color: black;
}
/* #endregion */

/* #region menu */
.menu{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.menu img{
    height: 24px;
    margin: 8px 0 8px 8px;
}

.menu > a{
    font-size: 28px;
    font-weight: 700;
    padding: 0 10px;
    border-left: 5px solid #00afaf;
}
/* #endregion */

/* #region user menu */
.user-menu{
    display: flex;
    align-items: center;
    border: 1px solid #DDD;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 40px;
    position: relative;
}

.user-menu:hover{
    cursor: pointer;
}

.user-menu img{
    padding: 3px;
}

.user-menu span{
    font-size: 16px;
    font-weight: 450;
    padding: 3px 3px 3px 15px;
}

.user-menu img:nth-child(2){
    background-color: #00afaf;
    border-radius: 50px;
    margin-left: 6px;
    margin-right: 6px;
}

.user-dropdown {
    cursor: default;
    visibility: hidden;
    position: absolute;
    min-width: 180px;
    right: 0;
    top: 100%;
    padding-top: 3px;
    transition: padding-top 0.3s ease;
}

.user-dropdown div{
    background-color: white;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.user-dropdown a {
    display: block;
    padding: 8px 12px;
    margin: 4px;
    border-radius: 10px;
}

.user-dropdown a:hover {
    background-color: #eee;
}

.user-menu:hover > .user-dropdown, .user-dropdown:hover {
    visibility: visible;
    padding-top: 8px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.nav span{
    color: #00afaf;
}

.nav a:hover{
    transition: all 0.2s ease;
    color: #008080;
}
/* #endregion */

/* #region form */
.form-wrapper {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-wrapper label {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-wrapper input{
    padding: 10px 15px;
    margin-top: 5px;
    border: 1px solid #DDD;
    border-radius: 6px;
    font-size: 1.2rem;
    font-family: 'jost', serif;
    transition: border-color 0.3s ease;
}

.form-wrapper input:focus {
    outline: none;
    border-color: #00afaf;
    box-shadow: 0 0 5px rgba(0, 175, 175, 0.3);
}

.form-wrapper button {
    background-color: #00afaf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: 'jost', serif;
    margin-top: 20px;
}

.form-wrapper button:hover {
    background-color: #008080;
}

.form-wrapper button:active {
    transform: translateY(1px);
}

.form-wrapper p {
    margin-top: 20px;
    color: #555;
}

.form-wrapper p a {
    color: #00afaf;
    font-weight: 500;
}

.form-wrapper h2{
    text-align: left;
    font-size: 2rem;
}
/* #endregion */

/* #region alerts and messages */
.messages {
    position: fixed;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1000;
    width: 300px;
    align-items: center;
}

.alert {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    animation: alert 5s ease-out;
    display: flex;
    justify-content: space-between;
    transform: translateY(-100%);
    opacity: 0;
}

.alert button{
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

@keyframes alert{
    0% { transform: translateY(-100%); opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    90% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100%); opacity: 0; }
}
/* #endregion */

/* #region cards */
.container {
    display: grid;
    gap: 25px;
    padding: 20px;
}

.container.concerts  {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container.artists, .container.venues {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    margin: 0;
    color: #555;
}

h2{
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #333;
}

h3{
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    margin: 0;
}
/* #endregion */

/* #region manage*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    gap: 8px;
}

.controls button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: none;
    transition: all 0.3s;
}

.btn-edit { 
    background: #00afaf;
}
.btn-edit:hover { 
    background: #008080;
}
.btn-delete { 
    background: #ff4d4d;
}
.btn-delete:hover { 
    background: #ee3c3c;
}
.btn-add { 
    background: #00afaf;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-weight: 600;
}
.btn-add:hover {
    background-color: #008080;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    animation: popIn 0.3s ease;
}

#addForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

#addForm label, #purchaseForm label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: -10px;
    color: #333;
    display: block;
}

#addForm input[type="text"], #purchaseForm input, #addForm input[type="date"], #addForm input[type="time"], #addForm input[type="number"], #addForm input[type="password"], #addForm select{
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #00afaf;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 36px;
    display: inline-block;
}

#addForm input:focus, #addForm select:focus {
    outline: none;
    border-color: #00adb5;
    box-shadow: 0 0 8px rgba(0, 173, 181, 0.4);
}

.date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.date div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#fileInput {
    height: auto !important;
    width: 100%;
    display: none;
}

.file{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

#img-preview {
    display: none;
    object-fit: cover;
    margin: auto;
    max-width: 200px;
    max-height: 80px;
    box-sizing: border-box;
}

.modal-controls {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #00afaf;
}

.modal-controls button, .confirm-buttons button, .file label{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #00afaf;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.save-btn {
    background-color: #00afaf;
    color: white;
    border: none;
    border-radius: 6px;
}

.save-btn:hover {
    background-color: #008080;
}

.cancel-btn {
    background-color: white;
    color: #00afaf;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.cancel-btn:hover {
    background-color: #ddd;
    color: #008080;
}
/* #endregion */

/* #region confirm modal */
#confirmModal {
    text-align: center;
}

.confirm-icon { 
    font-size: 50px; 
    margin-bottom: 10px; 
}
.confirm-buttons { 
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    margin-top: 20px; 
}
.btn-danger { 
    background: #ff4d4d; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}
.btn-danger:hover { 
    background: #e60000; 
}
/* #endregion */

/* #region dashboard */
.report-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.report-content h2{
    text-align: center;
    margin: 0;
}

.report-table th, .report-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.report-table th{
    background-color: #00afaf;
    color: white;
    text-transform: uppercase;
}

.users {
    width: 400px;
    margin: auto;
}

.report-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 1px solid #00afaf;
}

.tab-btn {
    width: 150px;
    padding: 15px;
    border: none;
    background: #00afaf99;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.tab-btn.active, .tab-btn:hover {
    background: #00afaf;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    font-weight: 600;
}

.report-content {
    animation: fadeIn 0.4s ease-in-out;
    display: none;
}
/* #endregion */

/* #region details */
.view-content {
    width: auto;
    border-radius: 15px;
    padding: 50px;
}

.view-details {
    display: flex;
    gap: 50px;
}

.purchase-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img-container {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #eee;
    overflow: hidden;
}

.blur-bg{
    position: absolute;
    background-size: cover;
    background-position: center;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    filter: blur(15px);
}

.img-container img{
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.buy-ticket-btn {
    background: #00afaf;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: transform 0.2s, background-color 0.2s;
}

.buy-ticket-btn:hover {
    background-color: #008080;
    transform: scale(1.02);
}

.view-info {
    width: 300px;
    color: #333;
    display: flex;
    flex-direction: column;
}

.view-info h1{
    margin: 0;
}

.view-info>div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.info-block {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-block span.emoji {
    font-size: 18px;
    display: inline-block;
    width: 24px;
    color: #00afaf;
    text-align: center;
}

.view-info hr{
    border: none;
    border-top: 1px solid #333;
    margin: 0;
}

.center{
    text-align: center;
    margin: 5px 0;
}
/* #endregion */

/* #region filter */
.filter{
    display: flex;
    background: white;
    border-radius: 5px;
    padding: 5px 15px;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    gap: 20px;
}

.filter h3{
    margin: 0 10px;
}

.filter select{
    padding: 3px;
    border-radius: 8px;
    border: 1px solid #00afaf;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    color: #333;
    width: 150px;
}

.filter button, .filter a {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #00afaf;
    text-align: center;
    box-sizing: border-box;
    font-family: 'jost', serif;
    font-size: 14px;
    cursor: pointer;
}
/* #endregion */

/* #region order */
.order-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 800px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#purchaseForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #00afaf22;
    padding: 20px;
    border-radius: 10px;
}
#purchaseForm a:hover {
    text-decoration: underline;
    color: #008080;
}
/* #endregion */

/* #region animations */
@keyframes popIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
/* #endregion */