{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="margin: 0; text-align: center;">MOJE BILETY</h1>

    {% if tickets %}
    <table class="report-table" style="margin: 0;">
        <thead>
            <tr>
                <th>ID biletu</th>
                <th>Koncert</th>
                <th>Cena</th>
                <th>Data zakupu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>#{{ ticket.id }}</td>
                <td><strong onclick="openViewModal('{{ ticket.koncert_id }}')" style="cursor: pointer;">{{ ticket.koncert }}</strong></td>
                <td>{{ ticket.cena }} zł</td>
                <td>{{ ticket.czas_zlozenia.strftime('%d.%m.%Y, %H:%M') }}</td>
                <td style="color: #00afaf; cursor: pointer;">🡻</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="empty-state">
        <p>Nie kupiłeś jeszcze żadnych biletów.</p>
        <a href="{{ url_for('concerts') }}" class="btn">Zobacz koncerty</a>
    </div>
    {% endif %}
</div>
{% endblock %}